// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2023, www.veye.cc. All rights reserved.

/dts-v1/;
/plugin/;

#define CAM0_RST        TEGRA234_MAIN_GPIO(H, 3)
#define CAM0_PWDN	TEGRA234_MAIN_GPIO(H, 6)
#define CAM1_PWDN	TEGRA234_MAIN_GPIO(AC, 0)
#define CAM_I2C_MUX 	TEGRA234_AON_GPIO(CC, 3)

#include <dt-bindings/tegra234-p3767-0000-common.h>
#include "tegra234-camera-rbpcv3-veyecam2m.dtsi"

/ {
	overlay-name = "Camera veyecam2m Dual";
	jetson-header-name = "Jetson 24pin CSI Connector";
	compatible = JETSON_COMPATIBLE_P3768;

	fragment-camera-veyecam2m@0 {
		target-path = "/";
		__overlay__ {
			bus@0 {
				cam_i2cmux{
					status = "okay";
					compatible = "i2c-mux-gpio";
					#address-cells = <1>;
					#size-cells = <0>;
					i2c-parent = <&cam_i2c>;
					mux-gpios = <&gpio_aon CAM_I2C_MUX GPIO_ACTIVE_HIGH>;
					i2c@0 {
						status = "okay";
						reg = <0>;
						#address-cells = <1>;
						#size-cells = <0>;
                        rbpcv2_imx219_a@10 {
                            status = "disabled";
                        };
						rbpcv3_veyecam_a@22 {
							reset-gpios = <&gpio CAM0_PWDN GPIO_ACTIVE_HIGH>;
						};
					};
					i2c@1 {
						status = "okay";
						reg = <1>;
						#address-cells = <1>;
						#size-cells = <0>;
                        rbpcv2_imx219_c@10 {
                            status = "disabled";
                        };
						rbpcv3_veyecam_c@22 {
							reset-gpios = <&gpio CAM1_PWDN GPIO_ACTIVE_HIGH>;
						};
					};
				};
				gpio@2200000 {
					camera-control-output-low {
						gpio-hog;
						output-low;
						gpios = <CAM0_RST 0>;
						label = "cam0-rst";
					};
				};
			};
		};
	};
};
